.board-container {
    max-width: 386px;
    display: grid;
    grid-template-columns: 36px 1fr 36px;
    grid-template-rows: 36px 1fr;
}

.label {
    margin: 0;
    width: 25px;
    height: 25px;
    padding: 0.25em;
    border: solid white 1px;
    text-align: center;
}

.longitude-labels {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
}
.latitude-labels {
    grid-column-start: 2;
    display: flex;
}

.board {
    background-image: url("../public/sea.jpg");
    background-color: rgb(27, 129, 155);
    background-size: cover;
    background-blend-mode: multiply;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

@media (min-width: 400px) {
    .board-container {
        max-width: 486;
    }
}
