.board-container {
    margin: 0 auto;
    max-width: 386px;
    display: grid;
    border: solid green 2px;
    grid-template-columns: 36px 1fr 36px;
    grid-template-rows: 36px 1fr;
}

.label {
    margin: 0;
    width: 25px;
    height: 25px;
    padding: 0.25em;
    border: solid white 1px;
    text-align: center;
}

.longitude-labels {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
}
.latitude-labels {
    grid-column-start: 2;
    display: flex;
}

.board {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
