.coordinate {
    border: solid aliceblue 1px;
    text-align: center;
    padding: 0.25em;
    cursor: pointer;
    background-color: rgb(28, 114, 184);
}

.valid {
    background-color: rgb(7, 63, 46);
}

.coordinate:hover {
    background-color: rgb(7, 63, 46);
}

.occupied {
    background-color: rgb(97, 97, 97);
}

.invalid {
    background-color: red;
}

.targeted {
    display: block;
}

@mixin cross-styles {
    content: "";
    position: absolute;
    border-radius: 3px;
    background-color: red;
    height: 3px;
    width: 45px;
}

.targeted::before {
    @include cross-styles;
    transform: translateX(-23px) translateY(11px) rotate(45deg);
}

.targeted::after {
    @include cross-styles;
    transform: translateX(-23px) translateY(11px) rotate(135deg);
}
