.coordinate {
    border: solid aliceblue 1px;
    text-align: center;
    padding: 0.25em;
    cursor: pointer;
}

.valid {
    background-color: rgb(97, 97, 97);
}

.enemyboard:hover {
    background-color: aliceblue;
}

.occupied {
    background-color: rgb(97, 97, 97);
}

.invalid {
    background-color: red;
}

.targeted {
    display: block;
}

.destroyed {
    background-color: rgb(231, 31, 31);
}

@mixin cross-styles {
    content: "";
    position: absolute;
    border-radius: 3px;
    background-color: rgb(206, 206, 206);
    height: 3px;
    width: 45px;
}

.targeted::before {
    @include cross-styles;
    transform: translateX(-23px) translateY(11px) rotate(45deg);
}

.targeted::after {
    @include cross-styles;
    transform: translateX(-23px) translateY(11px) rotate(135deg);
}
