.main-menu {
    border: solid green 2px;
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    border: solid red 2px;
    max-width: 30em;
    align-items: center;
    margin: 0 auto;
    gap: 5px;
}
