.main-menu {
    // max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../public/battleship.jpg");
    background-color: rgb(26, 26, 26);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.title {
    text-align: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    align-items: center;
    margin: 0 auto;
    gap: 5px;
}
