.play-game {
    min-height: 100vh;
    max-width: 1536px;
    min-width: 396px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.fleet-label {
    text-align: center;
    font-size: 3em;
}

.playgame-title {
    font-size: 5em;
    margin: 2em 0 2em 0;
    text-align: center;
    visibility: hidden;
}

.unhide {
    visibility: visible;
}

.game-area {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media (min-width: 1140px) {
    .game-area {
        width: 75%;
        flex-direction: row;
        gap: 5em;
        justify-content: space-between;
    }
}
