.page {
    border: solid red 2px;
    max-width: 1536px;
    margin: 0 auto;
}

.ship-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 385px;
}
